@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Roboto+Condensed&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Mukta:wght@200;300;400;500;600;700;800&family=Roboto+Condensed&display=swap");

* {
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Poppins", sans-serif;
  background-color: black;
}
a,
.btn {
  transition: all 300ms ease;
}
/* Desktopnav */
nav,
.nav-links {
  display: flex;
}
nav {
  justify-content: center;
  align-items: center;
  padding: 0 4rem;
  height: 10vh;
}
.nav-links {
  gap: 2rem;
  list-style: none;
  font-size: 1.5rem;
  font-weight: 600;
}
a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  text-decoration-color: rgb(255, 255, 255);
}
a:hover {
  color: rgb(123, 123, 123);
  text-decoration: underline;
  text-underline-offset: 1rem;
  text-decoration-color: rgb(123, 123, 123);
}
.logo:hover {
  cursor: default;
}

/*Hamburger menu*/

#hamburger-nav {
  display: none;
  justify-content: end;
}

.hamburger-menu {
  position: relative;
  display: inline-block;
}

.hamburger-icon {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 24px;
  width: 30px;
  cursor: pointer;
}

.hamburger-icon span {
  width: 100%;
  height: 2px;
  background-color: rgb(255, 255, 255);
  transition: all 0.3 ease-in-out;
}

.menu-links {
  position: absolute;
  top: 100%;
  right: 0;
  background-color: white;
  width: fit-content;
  max-height: 0;
  overflow: hidden;
  transition: all 0.3 ease-in-out;
}

.menu-links a {
  display: block;
  padding: 10px;
  text-align: center;
  font-size: 1.5rem;
  color: black;
  text-decoration: none;
  transition: all 0.3 ease-in-out;
}

.menu-links li {
  list-style: none;
}

.menu-links.open {
  max-height: 300px;
}

.hamburger-icon.open span:first-child {
  transform: rotate(45deg) translate(10px, 5px);
}

.hamburger-icon.open span:nth-child(2) {
  opacity: 0;
}

.hamburger-icon.open span:last-child {
  transform: rotate(-45deg) translate(10px, -5px);
}

.hamburger-icon span:first-child {
  transform: none;
}

.hamburger-icon span:first-child {
  opacity: 1;
}

.hamburger-icon span:first-child {
  transform: none;
}

/* Sections */

section {
  padding-top: 4vh;
  height: 96vh;
  margin: 0 10rem;
  box-sizing: border-box;
  min-height: fit-content;
}

#profile {
  background-image: url(./assets/back.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  border-radius: 15%;
  align-content: center;
  justify-content: center;
}
.logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: space-around;
}
.title {
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.4);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  padding: 2rem;
  font-family: "Lora", sans-serif;
  color: black;
  font-size: 4rem;
}
.sub-title {
  /* background-color: rgba(255, 255, 255, 0.4);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px); */
  color: rgb(255, 255, 255);
  font-family: "Poppins", sans-serif;
  font-size: 2rem;
  padding: 0.5rem;
}
